<div class="jumbotron">
    <h1>Kartverket.Geonorge.Api</h1>
    <p class="lead">Api for Geonorge</p>
    <p class="lead" style="font-size:18px">@Html.ActionLink("Se dokumentasjon for API", "Index", "Help", new { area = "" }, null)</p>
</div>
